<div id="text" class="pop_window">
    <img src="images/x_button.png" class="btn_close" alt="Close"/>
    <hr style="clear: both; width:100%"/>
    <br>

    <div class="center">
        <form action="index.php?action=saveGroup"><label class="group_name">Название</label>
            <input class="group_name" name="group_name" id="group_name" type="text" value="<% if(hasOwnProperty('group_name')){ %><%= group_name %><% } %>"/>
            <input name="group_id" id="group_id" type="hidden" value="<% if(hasOwnProperty('group_id')){ %><%= group_id %><% } %>"/>
        <div class="clear"></div>
        <br>
            <table><tr>
                <td>
                    <select name="terminals" id="terminals" size="10">
                        <option value=""></option>
                        <% if(hasOwnProperty('terminals')){ %>
                        <% terminals.forEach(function(row){ %>
                        <option value="<%= row['point_oid'] %>"><%= row['name'] %></option>
                        <% }); %>
                        <% } %>
                    </select>
                </td><td>
                    <div id="move_but" style="float: left">
                        <form><input id="add_in_group" value=">" type="submit"><br>
                        <input id="delete_from_group" value="<" type="submit"></form>
                    </div>
                </td><td>
                    <select name="terminals_in_group" id="terminals_in_group" size="10">
                        <option value=""></option>
                        <% if(hasOwnProperty('selected_terminals')){ %>
                        <% selected_terminals.forEach(function(row){ %>
                        <option value="<%= row['point_oid'] %>"><%= row['name'] %></option>
                        <% }); %>
                        <% } %>
                    </select>
                </td>
            </tr></table>
        <div class="clear"></div>
        <input class="buttons" style="margin-right: 30px;" id="save_group" value="Сохранить" type="submit">
        </form>
    </div>
</div>