<div id="text" class="pop_window">
    <img class="btn_close" src="images/x_button.png" alt="Close">
    <% if(hasOwnProperty('data')) { %>
    <h1>Детальная информация по платежу <%= data[0]['tid'] %></h1>
     <br><br><br><br>
    <table style="margin: 5px 5px 5px 20px; font-size: 13px; text-align: left">
        <tr>
            <td style="border: 1px solid #757f90; width: 40%; height: 40px; padding: 5px"><b>Транзакция:</b>&nbsp;&nbsp; <%= data[0]['tid'] %></td>
            <td style="border: 1px solid #757f90; width: 40%; height: 40px; padding: 5px"><b>Дата платежа:</b>&nbsp;&nbsp; <%= data[0]['DatePay'] %></td>
        </tr>
        <tr>
            <td style="border: 1px solid #757f90; height: 40px; padding: 5px"><b>Посл. изменение:</b>&nbsp;&nbsp; <%= data[0]['DateLastChange'] %></td>
            <td style="border: 1px solid #757f90; height: 40px; padding: 5px"><b>Номер счета:</b>&nbsp;&nbsp; <%= data[0]['ClientAccount'] %></td>
        </tr>
        <tr>
            <td style="border: 1px solid #757f90; height: 40px; padding: 5px">
                <table><tr>
                <td><%= data[0]['summary_amount'] %> - <br><i>(Сумма платежа)</i></td><td><%= data[0]['amount_commission_provider'] %> = <br><i>(Комиссия)</i></td><td><%= data[0]['amount_provider'] %><br><i>(К зачислению)</i></td>
                </tr></table>
            </td>
            <td style="border: 1px solid #757f90; height: 40px; padding: 5px"><b>Статус платежа:</b>&nbsp;&nbsp; <%= data[0]['status_name'] %></td>
        </tr>
        <tr>
            <td style="border: 1px solid #757f90; height: 40px; padding: 5px"><b>Поставщик:</b>&nbsp;&nbsp; <%= data[0]['ProviderName'] %></td>
            <td style="border: 1px solid #757f90; height: 40px; padding: 5px"><b>ФИО:</b>&nbsp;&nbsp; <%= data[0]['ClientFIO'] %></td>
        </tr>
        <tr>
            <td style="border: 1px solid #757f90; height: 40px; padding: 5px"><b>Номер:</b>&nbsp;&nbsp; <%= data[0]['etid'] %></td>
            <td style="border: 1px solid #757f90; height: 40px; padding: 5px"><b>Состояние:</b>&nbsp;&nbsp; <%= data[0]['descript'] %></td>
        </tr>
        <tr>
            <td style="border: 1px solid #757f90; height: 40px; padding: 5px"><b>Адрес точки:</b>&nbsp;&nbsp; <%= data[0]['terminal_name'] %></td>
            <td></td>
        </tr>
        <tr><td>&nbsp;<!--<button id="clipboard_copy"><b>скопировать в буфер обмена</b></button>-->
            <form name="status_change" action="">
                <label for="state_change">Статус платежа</label>
                <input name="tid" id="current_tid" type="hidden" value="<%= data[0]['tid'] %>">
                <% if(data[0]['state'] == 12){ %>
                    <select id="state_change" name="state_change">
                        <option value="0">Новый, деньги не списаны</option>
                        <option value="1">Новый, деньги списаны</option>
                        <option value="2">Запрос отмены платежа у ПУ, деньги списаны</option>
                        <option value="3">Ожидание ответа от поставщика услуг</option>
                        <option value="4">Запрос отмены платежа у ПУ, деньги возвращены</option>
                        <option value="5">Отправлен поставщику услуг, деньги не списаны</option>
                        <option value="6">Проведен</option>
                        <option value="7">Не проведен</option>
                        <option value="8">Отменен</option>
                        <option value="9">Возвращены деньги</option>
                        <option value="10">Перепроведен</option>
                        <option value="11">Отложен</option>
                        <option value="12" selected>Отменен ПУ</option>
                    </select>
                    <button name="submit" value="submit">Изменить</button>
                <% } else { %>
                    <select id="state_change" name="state_change" disabled>
                        <option value="<%= data[0]['state'] %>" selected><%= data[0]['status_name'] %></option>
                    </select>
                    <button id="status_change_submit" name="submit" value="submit" disabled>Изменить</button>
                <% } %>
            </form>
            </td>
            <td style="text-align: right"><a href="https://oplata.regplat.ru/webpay/paycheck.jsp?isprint=1&tid=<%= data[0]['tid'] %>&card_num=<%= data[0]['Card_number'] %>&type=4" target="_blank" title="Печать"><img src="images/print.png" alt="print"/></a></td>
        </tr>
    </table>
    <br>
    <% } %>
    <% if(hasOwnProperty('state')){ %>
    <br>
    <h3>Изменение состояний</h3>
        <table id="modal_bills" class="display dataTable">
            <thead>
            <tr>
                <th>Дата</th>
            	<th>Старое состояние</th>
            	<th>Новое состояние</th>
           		<th>Хотел перейти в ...</th>
            	<th>Код ошибки</th>
            	<th>Описание ошибки</th>
            </tr>
            </thead>
            <tbody>
            <% state.forEach(function(raw) { %>
            <tr>
                <td class="center" style="background-color: #e1f1fe"><%= raw['date_change'] %></td>
                <td class="center" style="background-color: #e1f1fe"><%= raw['old_state'] %></td>
                <td class="center" style="background-color: #e1f1fe"><%= raw['new_state'] %></td>
                <td class="center" style="background-color: #e1f1fe"><%= raw['try_state'] %></td>
                <td class="center" style="background-color: #e1f1fe"><%= raw['result_code'] %></td>
                <td class="center" style="background-color: #e1f1fe"><%= raw['result_text'] %></td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    <% } %>
    <% if(hasOwnProperty('data')){ %>
    <br>
    <h3>Дополнительная информация</h3>
        <table class="display">
            <thead>
            <tr>
                <th>Название</th><th>Значение</th><th>Описание</th>
            </tr>
            </thead>
            <tbody>
            <% data.forEach(function(raw) { %>
            <tr>
                <td class="center" style="background-color: #e1f1fe"><%= raw['extentName'] %></td>
                <td class="center" style="background-color: #e1f1fe"><%= raw['purpose'] %></td>
                <td class="center" style="background-color: #e1f1fe"><%= raw['Description'] %></td>
            </tr>
            <% }); %>
        </tbody>
        </table>
    <% } %>
    <br>
</div>
<script>
    $(document).ready(function () {
        $("#clipboard_copy").click(function () {
            $(this).clipboard({
                path: 'js/ZeroClipboard.swf',
                copy: function() {return $('#text').text()},
                afterCopy: alert($('#text').text())
            });
        });
    });
</script>