<div id="text" class="pop_window">
    <img class="btn_close" src="images/x_button.png" alt="Close">
<h1>Информация по терминалу <% if(hasOwnProperty('term_name')) { %> <%= term_name %> <% } %></h1>
    <hr style="clear: both"/><br/>
<table id="term_info">
    <tr><td class="term_info_label">Адрес:</td><td><% if(hasOwnProperty('data')) { %><%= data['PointAddr'] %><% } %></td></tr>
    <tr><td class="term_info_label">Название конфиг группы:</td><td><% if(hasOwnProperty('data')) { %><%= data['conf_name'] %><% } %></td></tr>
    <tr><td class="term_info_label">Сертификат истекает:</td><td><% if(hasOwnProperty('data')) { %><%= data['cert_dateend'] %><% } %></td></tr>
    <tr><td class="term_info_label">Максимальное количество купюр:</td>
        <td><form action="index.php?action=insertTermTimetable">
        <input type="hidden" name="action" value="2"/>
        <input id="id_terminal" type="hidden" name="id_terminal" value="<%= id_terminal %>"/>
        <input type="text" id="max_kup" value="<% if(hasOwnProperty('data')) { %><%= data['max_kup'] %><% } %>"/>
        <input type="submit" class="buttons" id="change_maxkup" value="Изменить"/>
    </form></td></tr>
    <tr><td class="term_info_label" >Расписание уведомлений:</td>
        <td>
             <% if(hasOwnProperty('rasp') && rasp.count >0 ) { %> <%= rasp %> <% } else { %> Не установлены <% } %>
        </td>

    </tr>
    <tr><td class="term_info_label" >Задать расписание:</td>
        <td><a id="timetable_icon" href="#" title="Добавить рассписание">
            <img id="clock" src="images/clock_big.png" alt="clock"/></a>
        </td>
    </tr>
</table>
<div id="new_rasp"></div>
</div>